<footer>
	<div class="f-icons">
		<a href="#" class="f-icon-btn menu-icn"></a>
		<a href="#" class="f-icon-btn star-icn"></a>
		<a href="#" class="f-icon-btn filter-icn"></a>
	</div>
	<div class="sort-w">
		<a href="#" class="s-search-tags">поиск по тегам</a>
		<div class="sort-bl">
			<span class="s-b-text">сортировать по: </span>
			<a href="#" class="s-b-link s-b-date">дате</a>
			<a href="#" class="s-b-link s-b-act">актуальность</a>
		</div>
	</div>
</footer>