<menu>
	<a href="/" class="logo-link">
		<img src="img/logo1.png" class="logo" alt="Logo"/>
	</a>
	<ul class="menu-list">
		<li><a href="/news">Новости</a></li>
		<li><a href="/progects">Проекты</a></li>
		<li><a href="/traning">Обучение</a></li>
		<li><a href="/help">Помощь</a></li>
		<li><a href="/magazine">Магазин</a></li>
		<li><a href="/profil">Профиль</a></li>
	</ul>
</menu>